# files and file types to ignore
*.pyc
#*.pyd
#*.so
*~

beamformer.cpp
examples/*.h5

# ignore the build directories
*.egg-info/
build/
dist/
docs/build/
**/cache/
**/td/
docs/source/api_ref/generated/
