# files and file types to ignore
*.pyc
*.so
*~
*.egg-info/
.eggs/
build/
__pycache__/
dist/
cache/
td/
docs/build/
**/cache/
**/td/
__pycache__/
*.nbc
*.nbi
*.pyd
.vscode/
.venv*

MANIFEST

examples/all_bf.sav
examples/benchmark/results/
**/three_sources.h5
docs/source/sg_execution_times.rst
docs/source/api_ref/generated/
docs/source/auto_examples/**/*
