language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  - conda create --name test-environment python=$TRAVIS_PYTHON_VERSION
  - source activate test-environment
  - python setup.py install
 
script: 
  # test import
  - python -c 'import acoular' #|| python -c 'import acoular' 
  # run tests
  - bash ./acoular/tests/run_tests.sh # run tests
  - python '/home/travis/build/sjekosch/acoular/tests/test_beamformer_results.py'

#after_success:
 # - codecov # submit coverage
  
  
  
