language: python
# ===== Linux ======
os: linux
dist: xenial
python:
  - 3.6
  - 3.7
  - 3.8
  - 3.9
jobs:
  include:      
    # ======= OSX ========
    - name: "Python 3.7.5 on macOS 10.14"
      os: osx
      osx_image: xcode10.2  # Python 3.7.5 running on macOS 10.14.3
      language: shell       # 'language: python' is an error on Travis CI macOS
    - name: "Python 3.8.0 on macOS 10.14"
      os: osx
      osx_image: xcode11.3  # Python 3.8.0 running on macOS 10.14.6
      language: shell       # 'language: python' is an error on Travis CI macOS
    - name: "Python 3.9 on macOS 10.15.7"
      os: osx
      osx_image: xcode12.2  # Python 3.9 running on macOS 10.15.7
      language: shell       # 'language: python' is an error on Travis CI macOS
      before_install:
       - brew install c-blosc
       - pip3 install tables
    #  ====== WINDOWS =========
    # - name: "Python 3.6.8 on Windows"
    #   os: windows           # Windows 10.0.17134 N/A Build 17134
    #   language: shell       # 'language: python' is an error on Travis CI Windows
    #   before_install:
    #       #use conda python
    #      - MINICONDA_PATH=/c/tools/miniconda3/;
    #      - MINICONDA_PATH_WIN=`cygpath --windows $MINICONDA_PATH`;
    #      - MINICONDA_SUB_PATH=$MINICONDA_PATH/Scripts;
    #      - choco install openssl.light;
    #      - choco install miniconda3 --params="'/AddToPath:1 /D:$MINICONDA_PATH_WIN'";
    #      - export PATH="$MINICONDA_PATH:$MINICONDA_SUB_PATH:$PATH";
    #      - source $MINICONDA_PATH/etc/profile.d/conda.sh;
    #      - hash -r;
    #      - conda config --set always_yes yes --set changeps1 no;
    #      - conda update -q conda;
    #      #create env and install libpython and pytables
    #      - conda create --name test-environment python=3.6 ;
    #      - conda activate test-environment;
    #      - conda install -c anaconda pytables;
    #      - conda install libpython;
    # - name: "Python 3.7.9 on Windows"
    #   os: windows           # Windows 10.0.17134 N/A Build 17134
    #   language: shell       # 'language: python' is an error on Travis CI Windows
    #   before_install:
    #      #use conda python
    #      - MINICONDA_PATH=/c/tools/miniconda3/;
    #      - MINICONDA_PATH_WIN=`cygpath --windows $MINICONDA_PATH`;
    #      - MINICONDA_SUB_PATH=$MINICONDA_PATH/Scripts;
    #      - choco install openssl.light;
    #      - choco install miniconda3 --params="'/AddToPath:1 /D:$MINICONDA_PATH_WIN'";
    #      - export PATH="$MINICONDA_PATH:$MINICONDA_SUB_PATH:$PATH";
    #      - source $MINICONDA_PATH/etc/profile.d/conda.sh;
    #      - hash -r;
    #      - conda config --set always_yes yes --set changeps1 no;
    #      - conda update -q conda;
    #      #create env and install libpython and pytables
    #      - conda create --name test-environment python=3.7 ;
    #      - conda activate test-environment;
    #      - conda install -c anaconda pytables;
    #      - conda install libpython;
    - name: "Python 3.8.8 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
         #use conda python
         - MINICONDA_PATH=/c/tools/miniconda3/;
         - MINICONDA_PATH_WIN=`cygpath --windows $MINICONDA_PATH`;
         - MINICONDA_SUB_PATH=$MINICONDA_PATH/Scripts;
         - choco install openssl.light;
         - choco install miniconda3 --params="'/AddToPath:1 /D:$MINICONDA_PATH_WIN'";
         - export PATH="$MINICONDA_PATH:$MINICONDA_SUB_PATH:$PATH";
         - source $MINICONDA_PATH/etc/profile.d/conda.sh;
         - hash -r;
         - conda config --set always_yes yes --set changeps1 no;
         - conda update -q conda;
         #create env and install libpython and pytables
         - conda create --name test-environment python=3.8 ;
         - conda activate test-environment;
         - conda install -c anaconda pytables;
         - conda install libpython;
    - name: "Python 3.9.2 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
          #use conda python
         - MINICONDA_PATH=/c/tools/miniconda3/;
         - MINICONDA_PATH_WIN=`cygpath --windows $MINICONDA_PATH`;
         - MINICONDA_SUB_PATH=$MINICONDA_PATH/Scripts;
         - choco install openssl.light;
         - choco install miniconda3 --params="'/AddToPath:1 /D:$MINICONDA_PATH_WIN'";
         - export PATH="$MINICONDA_PATH:$MINICONDA_SUB_PATH:$PATH";
         - source $MINICONDA_PATH/etc/profile.d/conda.sh;
         - hash -r;
         - conda config --set always_yes yes --set changeps1 no;
         - conda update -q conda;
         #create env and install libpython and pytables
         - conda create --name test-environment python=3.9 ;
         - conda activate test-environment;
         - conda install -c anaconda pytables;
         - conda install libpython;

before_install: 
  # test Python version
  - python --version
  - chmod +x ./acoular/tests/run_tests.sh
  
install:
  #  pip installer 
  #- pip install -e . # install package
  # 'python' points to Python 2.7 on macOS but points to Python 3.7 on Linux and Windows
  # 'python3' is a 'command not found' error on Windows but 'py' works on Windows only
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        python3 setup.py install;
    else
        python setup.py install;
    fi
 
script: 
  # test import acoular
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
       python3 -c 'import acoular';
    else
       python -c 'import acoular';
     fi
  
  # run acoular unittests from test dir
  - cd acoular/tests/
    
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
       bash run_tests_osx.sh;
    else
       bash run_tests.sh;
     fi

