.bd-page-width {
  max-width: 100rem;  /* default is 88rem */
}

.bd-main .bd-content .bd-article-container {
  max-width: 100%;  /* default is 60em */
}

html[data-theme="dark"] div.graphviz>object.graphviz {
  filter: brightness(0.8) invert(0.82) contrast(1.2);
  color-scheme: normal;
}
