html {
  font-family: Verdana, Arial, sans-serif;;
  font-size: medium;
  /* background-color: #c4cccf; */
  background-color: white;
  color: black;
}

#header {
  border: 1px solid black;
  background-color: #d9d9d9;
  height: 100px;
}

#header h1 {
  margin: 3px;
}

#nav-bar {
  margin: 0;
  padding: 0;
  float: right;
  width: 150px;
}

#nav-bar ul {
  padding: 3px;
  margin: 0;
}

#nav-bar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

#contents {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

#contents ul {
  border: 1px solid gray;
  background-color: #d9d9d9;
}

#contents li {
  display: inline;
  list-style-type: none;
  margin: 0;
  border: 0;
  padding-right: 10px;
  padding-left: 10px;
}

#main {
  margin-top: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: blue;
}

a:hover { 
  text-decoration: underline;
  color: blue;
}


h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: medium;
  margin-bottom: 0;
  font-weight: lighter;
  font-style: italic;
  margin-top: 0.5ex;
}

h4 {
  font-weight: bold;  
}

p {
  font-size: medium;
  line-height: 1.2em;
  margin-bottom: 1ex;
  margin-top: 0.5ex;
}

pre {
  font-weight: normal;
  font-size: medium;
  line-height: 1.1em;
}

/* name prefixes should be small */
.prefix {
  font-weight: lighter;
}

.doclist li { 
  /*margin-bottom: 2px;*/
}

table.imported-names {
  border-collapse: collapse;
  background: white;
  border: 3px black solid;
}

th, td {
  vertical-align: top;
  text-align: left;
  padding: 3px;
}

table.imported-names th {
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  background: #aaf;
}

table.imported-names td {
  border: 1px black solid;
}

table.hierarchy {
  background: inherit;
  color: inherit;
  border: none;
  width: 100%;
  table-layout: fixed;
}

table.hierarchy td {
  vertical-align: top;
  border: none;
}

table.hierarchy td.icon .icon {
  display: block;
}

table.hierarchy td.icon {
  width: 2.5em;
  font-family: monospace;
}

table.hierarchy td.absname {
  width: 50%;
}

table.hierarchy td.icon .icon:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

li.trait, li.attribute {
  font-weight: bolder;
}
li.function {
    font-size: larger;
    font-weight: bolder;
    margin-top: 1.2ex;
}


div.smallbox {
  border: 1px black solid;
  background-color: white;
  color: black;
  font-size: 75%;
  margin: 3em;
  padding: 1em;
  width: auto;
}

div.smallbox h3 {
  margin: 0;
}

div.document {
	font-size: smaller;
	font-weight: lighter;
}
dl.docutils {
	font-size: medium;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
ul.simple {
	font-size: medium;
}

strong {
    font-weight: bold;
}

