# pip-style requirements file to make project build on readthedocs
scipy >=0.13
traits >=4.4
ipython
# non-acoular packages needed to build sphinx documentation:
# sphinx, graphviz, matplotlib, ipython, numpydoc, python-sounddevice(conda-forge)