name: Check package installation & Links
permissions:
  contents: read
on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  install:
    uses: acoular/ci/.github/workflows/install.yml@main
