name: Link Checking (Cron Job)

on:
  schedule:
    - cron: "00 18 * * *"
    
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cron-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: check links
        id: lychee
        uses: lycheeverse/lychee-action@v2.0.2
        with:
          # Check all markdown, html and reStructuredText files in repo (default)
          args: --base . --verbose --no-progress './**/*.md' './**/*.html' './**/*.rst'
          fail: true
      - name: Create Issue From File
        if: ${{ env.lychee_exit_code != 0 }}
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: bug, automated issue  
