name: GitHub

on:
  pull_request:
    branches: master
    types: [labeled, unlabeled, opened, synchronize, reopened, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  enforce-label:
    if: github.event_name != 'merge_group'
    runs-on: ubuntu-latest
    steps:
      - uses: yogevbd/enforce-label-action@2.2.2
        with:
          REQUIRED_LABELS_ANY: "caching,ci,docs,enhancement,fix,linting,maintenance,new feature,sinus,tests"
          REQUIRED_LABELS_ANY_DESCRIPTION: Assign at least one label with to this pull request
          BANNED_LABELS: bug
          BANNED_LABELS_DESCRIPTION: The 'bug' label should only be used on issues

  check-conflicts:
    if: github.event_name != 'merge_group'
    runs-on: ubuntu-latest
    steps:
      - name: Check out a copy of the repository
        uses: actions/checkout@v4
      - name: Merge conflict finder
        uses: olivernybroe/action-conflict-finder@v4.0

  alls-green:
    name: GitHubs green?
    if: always()
    needs:
      - enforce-label
      - check-conflicts
    runs-on: ubuntu-latest
    steps:
      - id: workaround
        uses: actions/github-script@v7
        with:
          # Workaround for https://github.com/re-actors/alls-green/issues/29
          # we strip outputs from the needs object to avoid nested JSON
          result-encoding: string
          script: |
            return JSON.stringify(Object.fromEntries(Object.entries(${{ toJSON(needs) }})
              .map(([name, { result }]) => [name, { result, outputs: {} }])));
      - name: All checks passed?
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ steps.workaround.outputs.result }}
