name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    branches: [ "*" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10','3.11','3.12', '3.13']
    steps:
      - name: Check out a copy of the repository
        uses: actions/checkout@v5
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up PortAudio
        uses: ./.github/actions/setup-portaudio
        with:
          os: ${{ matrix.os }}
      - name: Run smoke tests
        uses: ./.github/actions/smoke-tests
        with:
          command: uv run --frozen --no-dev --exact
      - name: Run unit tests
        run: uv run --frozen python -m pytest
      - name: Run doctests
        run: uv run --frozen python -m pytest --doctest-modules acoular

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Check out a copy of the repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
      - name: Set up PortAudio
        uses: ./.github/actions/setup-portaudio
      - name: Generate coverage report
        run: |
          uv run --frozen python -m pytest --cov=acoular
          uv run --frozen python -m pytest --cov=acoular --cov-report=markdown-append:$GITHUB_STEP_SUMMARY --cov-report=xml --cov-append --doctest-modules acoular
      - name: Check diff coverage
        run: |
          git diff ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }} > diff.txt
          echo -e "Output of \`diff-cover\` :mag::shipit:\n\`\`\`" > diff-cover.txt
          uv run diff-cover coverage.xml --diff-file=diff.txt >> diff-cover.txt
          echo -e "\`\`\`" >> diff-cover.txt
      - name: Add PR Comment
        uses: thollander/actions-comment-pull-request@v3
        with:
          file-path: diff-cover.txt
          comment-tag: diffcov
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: upload coverage HTML report
          path: htmlcov


  alls-green:
    name: Tests green?
    if: always()
    needs:
      - tests
      - coverage
    runs-on: ubuntu-latest
    steps:
      - id: workaround
        uses: actions/github-script@v7
        with:
          # Workaround for https://github.com/re-actors/alls-green/issues/29
          # we strip outputs from the needs object to avoid nested JSON
          result-encoding: string
          script: |
            return JSON.stringify(Object.fromEntries(Object.entries(${{ toJSON(needs) }})
              .map(([name, { result }]) => [name, { result, outputs: {} }])));
      - name: All checks passed?
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ steps.workaround.outputs.result }}
